<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Super sprinter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/stylesheet.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <h1>User Stories</h1>
    <table>
        <thead>
        <tr>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business value</th>
            <th>Estimation (hour)</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userStory:${userStories}">
            <td><a th:href="@{'/story/' + ${userStory.getId()}}" th:text="${userStory.getStoryTitle()}"></a></td>
            <td th:text="${userStory.getUsersStory()}" style="text-align: justify"></td>
            <td th:text="${userStory.getAcceptanceCriteria()}" style="text-align: justify"></td>
            <td th:text="${userStory.getBusinessValue()}"></td>
            <td th:text="${userStory.getEstimation()}"></td>
            <td th:text="${userStory.getStatus()}"></td>
        </tr>
        </tbody>
    </table>
    <p><a href="/add">Add new User Story</a></p>
</div>
</body>
</html>